.ModalClass{
    position                   : absolute;
    top                        : 40px;
    left                       : 40px;
    right                      : 40px;
    bottom                     : 40px;
    border                     : 1px solid #ccc;
    background                 : #fff;
    overflow                   : auto;
    --webkit-overflow-scrolling    : touch;
    border-radius               : 4px;
    outline                    : none;
    padding                    : 20px
}
.OverlayClass {
    position          : fixed;
    top               : 0;
    left              : 0;
    right             : 0;
    bottom            : 0;
    background-color   : rgba(255, 255, 255, 0.75);
}
.imageTextStyle{
    text-transform: lowercase;
    line-height: normal;
    padding-top: 1rem;
}

body{
    background-color: #fcfcfc;
}

.overlay{
    padding-top: 1.25rem;
}